@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, MesloLGS NF;
    font-size: 15px;
    color: @text;
    border: none;
	border-radius: 0;
    min-height: 0;
	padding: 0;
	margin: 0;
}

window#waybar {
    border-bottom: none;
    color: @text;
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-right {
    transition: all 0.3s ease;
}

.modules-right * {
    padding: 2px 10px;
}

/*
 * Workspaces
*/ 

#workspaces {

}

#workspaces button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    padding: 0 12px;
    color: @text;
    transition: background-color 0.3s ease;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text;
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
    background-color: @surface1;
    box-shadow: inset 0 -3px @blue;
    color: @blue;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

#tray menu {
    background-color: @surface0;
    border: 1px solid @surface1;
    border-radius: 10px;
    
}

#tray menu menuitem:hover {
    background-color: @surface1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    color: @subtext1;
}
#idle_inhibitor.activated {
    background-color: @surface1;
    color: @blue;
    border-radius: 15px;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging, #battery.plugged {
    color: @lavender;
    animation: none;
}

@keyframes blink {
    to {
        color: @base;
    }
}

tooltip {
    background: @base;       
    opacity: 1.0;            
    border-radius: 10px;     
    border: 1px solid @surface0;
}

tooltip label {
    color: @text;
}

#hardware #cpu {
    padding: 0 5px;
}

#hardware #memory {
    padding: 0 5px;
}

#hardware #battery {
    padding: 0 5px;
}

#backlight-slider {
    min-width: 75px;
}

#backlight-slider * {
    margin: 0;
    padding: 0;
}

/* Hide slider */
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 8px;
    border-radius: 2px;
}
#backlight-slider highlight {
    border-radius: 2px;
    background: @blue;
}
